.cardDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
}

.image {
  width: 250px;
  height: 350px;
  border: 5px solid black;
}

.Gryffindor {
  border-color: red;
  color: red;
}
.Slytherin {
  border-color: green;
  color: green;
}
.Ravenclaw {
  border-color: blue;
  color: blue;
}
.Hufflepuff {
  border-color: yellow;
  color: yellow;
}

.name {
  color: white;
}
